@page "/document-reader"
@rendermode InteractiveServer
@using System.Reflection
@inject ILogger<DocumentReader> Logger
@inject IToastService ToastService

<PageTitle>Document Reader</PageTitle>

<FluentLayout>
    <FluentHeader>Document Reader</FluentHeader>

    <FluentToolbar>
        <FluentSelect Items="@typeItems"
                      OptionText="@(o => o?.Name ?? "All")"
                      OptionValue="@(o => o?.TypeName)"
                      TOption="XmlDocumentMember"
                      ValueChanged="OnValueChanged" />
    </FluentToolbar>

    <FluentStack Orientation="Orientation.Vertical">
        <div style="width:100%; height:400px; overflow:auto">
            <FluentDataGrid Items="@filteredItems.AsQueryable()"
                            TGridItem="XmlDocumentMember"
                            ResizableColumns="true"
                            RowSize="DataGridRowSize.Medium"
                            GenerateHeader="GenerateHeaderOption.Sticky"
                            MultiLine="true"
                            AutoFit="true">
                <PropertyColumn Property="@(c => c.Position)" />
                <PropertyColumn Property="@(c => c.Fullname)" />
                <PropertyColumn Property="@(c => c.MemberType)" />
                <TemplateColumn Title="Params">
                    @if (context.Parameters.Count > 0)
                    {
                        <FluentButton IconStart="@(new Icons.Regular.Size16.DesignIdeas())" OnClick="@(() => SetActiveRow(context))" />
                    }
                </TemplateColumn>
                <PropertyColumn Property="@(c => c.Summary)" />
                <PropertyColumn Property="@(c => c.Remarks)" />
                <PropertyColumn Property="@(c => c.Returns)" />
            </FluentDataGrid>
        </div>

        <FluentCard Height="150px">
            <FluentStack Orientation="Orientation.Vertical">
                @foreach (var item in activeRow?.Parameters ?? [])
                {
                    <FluentLabel>@item.Name: @item.Value</FluentLabel>
                }
            </FluentStack>
        </FluentCard>
    </FluentStack>
</FluentLayout>

@code {
    private XmlDocumentReader? reader;
    private XmlDocumentMember? activeRow;
    private readonly List<XmlDocumentMember?> typeItems = [];
    private List<XmlDocumentMember> filteredItems = [];

    protected override void OnInitialized()
    {
        try
        {
            reader = new XmlDocumentReader("Sandbox.XmlLib");
            reader.LoadXml(logger: Logger, throwAnyException: true);

            var tMembers = reader.Members
                .Where(e => e.MemberType == MemberTypes.TypeInfo || e.MemberType == MemberTypes.NestedType)
                .OrderBy(e => e.Fullname);

            typeItems.Add(null);
            typeItems.AddRange(tMembers);
            OnValueChanged(typeItems.FirstOrDefault()?.TypeName);
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, null);
            ToastService.ShowError(ex.Message);
        }
    }

    private void OnValueChanged(string? value)
    {
        Console.WriteLine($"OnValueChanged: {value}");
        try
        {
            if (value == null)
            {
                filteredItems = reader!.Members.ToList();
                return;
            }

            filteredItems = reader!.GetMembers(value);
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, null);
            ToastService.ShowError(ex.Message);
        }
    }

    private void SetActiveRow(XmlDocumentMember member)
    {
        activeRow = member;
    }
}
